* {
    margin: 0;
    padding: 0;
}

.nav-li {
    text-decoration: underline;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .nav-li {
        text-decoration: none;
        border-bottom: 1px solid #555;
        padding-bottom: 5px;
        margin-right: 0;
    }


    .navbar-toggler {
        transition: transform 0.3s ease-in-out;
        /* Agregamos una transición para la propiedad transform */
    }

    .navbar-toggler.collapsed {
        transform: rotate(0deg);
        /* Rotación inicial del icono del botón */
    }

    .navbar-toggler:not(.collapsed) {
        transform: rotate(180deg);
        /* Rotación del icono del botón cuando el menú está desplegado */
    }

    .navbar-collapse {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        /* Ajustamos la transición para que se aplique tanto al despliegue como al ocultamiento */
    }

    .navbar-collapse.show {
        max-height: 500px;
        opacity: 1;
    }

}