* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #888;
}

nav h2 {
    margin-left: 40px;
}

.nav-li {
    text-decoration: underline;
    margin-right: 10px;
}

/*Aplicamos estos cambios cuando la pantalla es más chica. Ej.(Dispositivos moviles, Tablets, etc.)*/
@media only screen and (max-width: 850px) {

    /*Le quitamos el subrayado y le ponemos bordes a la parte inferior de los li para separar el menú*/
    .nav-li {
        text-decoration: none;
        border-bottom: 1px solid #555;
        padding-bottom: 5px;
        margin-right: 0;
    }


    .navbar-toggler {
        transition: transform 0.5s ease-in-out;
        /* Agregamos una transición para la propiedad transform */
    }

    .navbar-toggler.collapsed {
        transform: rotate(0deg);
        /* Rotación inicial del icono del botón */
    }

    .navbar-toggler:not(.collapsed) {
        transform: rotate(180deg);
        /* Rotación del icono del botón cuando el menú está desplegado */
    }

    /*Animación de despliegue de la barra*/
    .navbar-collapse {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        /* Ajustamos la transición para que se aplique tanto al despliegue como al ocultamiento */
    }

    .navbar-collapse.show {
        max-height: 500px;
        opacity: 1;
    }

}


/*Esstilos del maín*/


.main {
    display: flex;
    margin-top: 20px;
}

.item {
    margin: 10px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
}

.item img {
    width: 100%;
    /* Amplía la imagen al máximo posible */
    height: auto;
}

.item:hover {
    border: none;
    transform: scale(1.1);
    /* Aumenta el tamaño en un 10% cuando pasas el mouse por encima */

}

.item h4 {
    margin-left: 10px;
    justify-content: center;
    align-content: center;
    /* Añade espacio a la izquierda del encabezado */
}

.borderLeft {
    border-left: 1px solid #000;
}

.borderRight {
    border-right: 1px solid #000;
}

footer {
    display: flex;
    background-color: #000;
    height: 200px;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

footer div {
    color: #ddd;
    margin: auto;
}