* {
    padding: 0;
    margin: 0;
}

/*---------------------------estilos del boody-------------------------*/
body {
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    margin: 0;
    justify-content: center;
    align-items: center;
}

/*---------------------------estilos encabezado.........................*/

nav h2 {
    margin-left: 40px;
}

.nav-li {
    text-decoration: underline;
    margin-right: 10px;
    background-color: #000000;
    color: white;

    border-radius: 5px;

    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: #2403b6;
    }
}

/*Aplicamos estos cambios cuando la pantalla es más chica. Ej.(Dispositivos moviles, Tablets, etc.)*/
@media only screen and (max-width: 768px) {

    /*Le quitamos el subrayado y le ponemos bordes a la parte inferior de los li para separar el menú*/
    .nav-li {
        text-decoration: none;
        border-bottom: 1px solid #555;
        padding-bottom: 5px;
        margin-right: 0;
    }


    .navbar-toggler {
        transition: transform 0.3s ease-in-out;
        /* Agregamos una transición para la propiedad transform */
    }

    .navbar-toggler.collapsed {
        transform: rotate(0deg);
        /* Rotación inicial del icono del botón */
    }

    .navbar-toggler:not(.collapsed) {
        transform: rotate(180deg);
        /* Rotación del icono del botón cuando el menú está desplegado */
    }

    /*Animación de despliegue de la barra*/
    .navbar-collapse {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        /* Ajustamos la transición para que se aplique tanto al despliegue como al ocultamiento */
    }

    .navbar-collapse.show {
        max-height: 500px;
        opacity: 1;
    }

}

/* --------------------------estilos formulario------------------------ */
.tituloRegistro {
    color: #2b2b2c;
    text-align: center;
    margin-top: 80px;
    font-size: calc(1em + 2vw);
}

.formularioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {

    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {

    /*agregado de animacion movimiento del registro*/
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form-group {
    margin-bottom: 20px;
    border-radius: 30px;
}

.animacionBorde-form {
    /*Animaciones insertadas en los bordes*/

    border: 4px solid #0c0a00;
    transition: border-color 0.3s ease-in-out;

}

.animacionBorde-form:hover {
    /*Animaciones insertadas en los bordes*/
    border-color: #1302af;

}

label {
    /* display: block;*/
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    display: inline-block;
    justify-content: space-around;
    width: 120px;
    text-align: center;
    margin-top: 20px;
    margin-right: 20%;
    color: rgba(8, 8, 8, 0.986);
    padding: 8px 20px;
    background-color: #998ffa;
    border-radius: 35px;
    border: 2px solid #1302af;
    box-shadow: 0px 5px 18px rgba(252, 251, 251, 0.986);
    transition: all 0.3s ease 0s;
}

.BotonEnviar:hover,
/*Animaciones insertadas en el boton*/
.BotonBorrar:hover {
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(8, 8, 8, 0.986);
    transform: translateY(-6px);
}

/* ----------------------------ESTILOS DEL FOOTER------------------ */

.pie {
    background-color: #030303;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(245, 245, 245);
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
}

.direccion a {
    color: #FDD306;
    text-decoration: none;
}

.direccion {
    text-align: left;
}

.redes {
    text-align: right;
}


/* ------------------------------- media queries ------------------------*/

@media(max-width:600px) {

    #logo {
        width: 50%;
        margin-left: 50%;
    }

    nav {
        position: fixed;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: black;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    nav .list a {
        font-size: 1em;
    }

    nav :checked~.list {
        bottom: 0;
    }

    nav .icon-bars {
        display: block;
    }

    .pie {
        display: grid;
        justify-content: space-around;
        grid-template: auto auto / auto auto;
        grid-template-areas: "direccion grupo" "redes redes";
        row-gap: 5px;
        text-align: center;
        font-size: 0.8em;
    }

    .grupo {
        grid-area: grupo;
    }

    .direccion {
        grid-area: direccion;
        text-align: center;
    }

    .redes {
        grid-area: redes;
        text-align: center;
    }
}

@media only screen and (min-width: 601px) {

    #logo {
        width: 50%;
    }

    .pie {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        /* row-gap: 10px; */
        font-size: 0.9em;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 900px) {

    #logo {
        width: 20%;
    }
}

/* ------------------------------- media queries ------------------------*/